<section class="container top">
    <div class="row">

        <div class='col-md-6 col-sm-12'>
            <h1 class="text-center">Your Donation means alot</h1>
            <h6 class="text-center text-muted">Come and be part of the change</h6>
            <div class="d-flex justify-content-center mt-5">
            <div class="card " style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
                 <div class="text-center">
                    <a href="#" class="btn btn-lg text-light">Donate</a>
                 </div>
                </div>
              </div>
            </div>
        </div>
    <div class="col-md-6 col-sm-12 p-2">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oSOMdra32w4"
                allowfullscreen></iframe>
        </div>
    </div> 


</div>
</section>
