.top{
margin-top: 10%;
background-image: url(../../../assets/bg2.jpg);
height: 500px;
background-size: cover;
}
.donation{
    background-color: white;
    opacity: 0.5;
    height: 500px;
    width: 100%;
    position: relative;
    
}

.text{
  position:absolute;
  height: 500px;
  width: 100%;
  top:0;
 
}

button{
    background-color: #ff8624;
}