<section class="container-fluid top">
    <div class="row">
        <div class="col-md-5 top ml-5"  data-aos="fade-right" data-aos-duration="2000">
            <h2 class="font-weight-bold">Marketing automation keeps donors connected</h2>
            <p class="text-muted">
                    We do this by funding research, training, state-of-the-art equipment and innovative healthcare projects. Whilst we may have only a few funding partners, we adhere to a strict funding strategy to ensure that the Charity's capital is applied in the ways that will deliver the biggest impact in healthcare and most benefits to patients
            </p>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg  pr-5 pl-5 " @fadeIn>Apply for funding</button> 
        </div>
        </div>

        <div class="col-md-5 offset-1 ">
        <div class="col-md-5 mt-5 v " data-aos="fade-up" data-aos-duration="2000">
           <img src="../../../assets/automation-1.jpg" class="img1">
        </div>
        <div class="d" data-aos="fade-down" data-aos-duration="2000">
           <img src="../../../assets/bg4.jpg" class="ml-5 img2" >
            </div>
    </div>
</div>

    
</section>
