<!--Video-->
<section class="container-fluid mt-5 videoo ">

    <div class='col-md-12 col-sm-12 d-flex justify-content-center'>
    
        <img src="../../../assets/thank-you-kid.jpg" class="img1">
        <div class="d "></div>
        
        <button type="button" class="btn btn-primary btnModal  " data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-play fa-lg fx-7x"></i>
          </button> 
    </div>

</section>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
      
          <button type="button" class="close btnClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class=" col-12 p-2 " style="max-width: 900px;" >
                <div class="embed-responsive embed-responsive-16by9 " >
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qImWhjz6wdE"
                   allowfullscreen ></iframe>
                </div>
                </div>
        </div>

      </div>
    </div>
  </div>
