<section class="container-fluid footer" >
    <section class="container">

<div class="row mt-5">
  
                  
<div class="col-md-6 col-sm-12 mt-5">     
        <a  href="#" class="ml-5">BLOGS</a>               
        <a  href="#" class='ml-5' >CHARITY</a>    
        <a  href="#" class="ml-5">PAGES</a>    
        <a  href="#" class="ml-5">CONTACTS</a>  
</div>                 

<div class="col-md-6 col-sm-12">
        <button type="button" class="btn btn-lg mt-5 text-white btnStart mr-2" @fadeIn>START FUNDRAISING</button>
        <button type="button" class="btn btn-lg mt-5 btnDonate" @fadeIn>DONATE</button>  
</div>
 
                      
                    
                
              
</div>
  <div class="row mt-5">
      <div class="col-md-3 col-sm-12 mt-5">
          <img src='../../../assets/logo.png' class="mb-5" style="max-height: 100px;">
         <p class="text-muted">The Gorib charity provides enhanced services over and above what the NHS funds. help child</p>
         <div class=" font-weight-bold pl-2 row">
               <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f fa-5px pr-1"></i> <span class="pr-2">Facebook</span></a>
               <a href="https://www.twitter.com/">  <i class="fab fa-twitter fa-5px pr-1"></i> <span class="pr-2">Twitter</span></a>
               <a href="https://www.instagram.com/"> <i class="fab fa-instagram fa-5px pr-1"></i> <span class="pr-2">Instagram</span></a>
                </div>
            <!-- Material input -->
            <mat-form-field class="example-full-width mt-3">
                 <input matInput value="Enter your email">
             </mat-form-field>
      </div>

      <div class="col-md-3 col-sm-12 mt-5">
           
            <h5 class=" mb-3">Get Involoved</h5>
            <ul >
                   <li >
                       <a href="#">Donate</a>
                    </li>
                    <li> <a href="#">Sponsor</a> </li>
                    <li> <a href="#">Fundraise</a></li> 
                    <li> <a href="#">Volunteer</a></li>
                    <li> <a href="#">Partner</a></li> 
                    <li> <a href="#">Jobs</a></li>
                    <li> <a href="#">Meet the team</a></li>
                    <li> <a href="#">About Gorib</a></li>
                </ul>
        </div>

        <div class="col-md-3 col-sm-12 mt-5">
           
                <h5 class=" mb-3">How can you Help

                </h5>
                <ul >
                       <li >
                           <a href="#">Donate</a>
                        </li>
                        <li> <a href="#">Fundraise</a> </li>
                        <li> <a href="#">Other ways to give</a></li> 
                        <li> <a href="#">Summary Meals</a></li>
                        <li> <a href="#">Attend an event</a></li> 
                        <li> <a href="#">Fundraise for charity</a></li>
                        <li> <a href="#">After school meals</a></li>
                        <li> <a href="#">Speed up</a></li>
                    </ul>
            </div>

            <div class="col-md-3 col-sm-12 mt-5">
           
                    <h5 class=" mb-3">Stay In Loop</h5>
<p>
    New research has revealed a staggering lack of awareness
</p>

<hr>
<p>
    New research has revealed a staggering lack of awareness
</p>

<hr>
<p>
    New research has revealed a staggering lack of awareness
</p>


                </div>
    

      </div>

      <footer>
            <div class="text-center">&copy; COPY RIGHTS RESERVED</div>
        </footer>
    </section>
    </section>