<section class="container-fluid top" >
    <div class="row">
            <div class=' col-md-4'  data-aos="fade-up" data-aos-duration="2000">
                    <img src="../../../assets/event-2.png" class="img3 ">
                    <div class="d"></div>
                    <div class="text-center mt-5 gg">
                    <h2 class="font-weight-bold mt-5">
                            Engages youth in meaningful volunteer opportunities
                    </h2>
                    <p class="mt-3">
                            that benefit local nonprofits while developing valuable leadership and communication skills.
                    </p>
                   
                            <button type="button" class="btn btn-lg  pr-5 pl-5 " @fadeIn>DONATE</button> 
                 
                </div>
             </div>

             <div class="col-md-4 " data-aos="fade-up" data-aos-duration="3000">
                 <h5>
                        Your donation to Children in Crossfire will make a huge difference
                 </h5>

                 <p class="text-muted">
                     Your donation to Children in Crossfire will make a huge difference in the lives of the children we work with in Tanzania...
                 </p>

                 <div class="overflow-hidden">
                        <img src="../../../assets/event-3.png" class="img2 overflow-hidden; ">
                 </div>
             </div>

             <div class="col-md-4 " data-aos="fade-up" data-aos-duration="3000">
                    <h5>
                            Battersea appeals to public to adopt as rescue animals
                    </h5>

                    <p class="text-muted">
                            Battersea Dogs & Cats Home is appealing to the public to choose to rehome a rescue dog or cat as it reveals a growing...
                    </p>

                    <div class="overflow-hidden">
                    <img src="../../../assets/event-2.png" class="img2 overflow-hidden; ">
                    </div>
               
                </div>
    </div>

</section>

